<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>

<body>
    
    <h1>Where and When are you traveling?</h1> 
    <form onsubmit="return Client.handleSubmit(event)" method="POST">
        <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city">
        </div>
        <div id="city_error" style="color:red" ></div>
        <div>
            <label for="date">Date</label>
            <input type="date" name="date" id="date">
        </div>
        <div id="date_error" style="color:red" > </div>

        <button>Submit</button>
    </form>
    <div class="flight_data">
        <h2 id="Rdays"></h2>
        <p class="cityName"></p>
        <p class="temp"></p>
        <p class="max-temp"></p>
        <p class="min-temp"></p>
        <p class="weather"></p>
        <div class="cityPic"></div>
    </div>

</body>

</html>